<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="2"
        version_minor="1"
        version_mode="DEBUG"
        URL="https://github.com/JonMS95/C_Severity_Log"
        type="library"
        language="C"
        library_name="SeverityLog"
    />
    <!-- Directory structure -->
    <Directories>
        <lib/>
        <API/>
        <test>
            <deps>
                <lib/>
                <inc/>
            </deps>
            <exe/>
        </test>
    </Directories>

    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="3"
        version_mode="RELEASE"
        local_path="~/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />

    <!-- Dependencies -->
    <deps Dest="deps">
        <Posix_Threads
            type="APT_package"
            lib_name="pthread"
            package="libc6-dev"
        />
    </deps>

    <!-- Tests -->
    <!-- Paths to dependency files for the testing executable. -->
    <test>
        <deps Dest="test/deps">
            <Posix_Threads
                type="APT_package"
                lib_name="pthread"
                package="libc6-dev"
            />
            <C_Severity_Log
                version_major="2"
                version_minor="1"
                version_mode="DEBUG"
                local_path="."
                URL="https://github.com/JonMS95/C_Severity_Log"
            />
        </deps>
    </test>
</config>
