<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="1"
        version_minor="1"
        version_mode="RELEASE"
        URL="https://github.com/JonMS95/C_Severity_Log"
        type="library"
        language="C"
        library_name="SeverityLog"
    />
    <!-- Directory structure -->
    <Directories>
        <Dynamic_libraries/>
        <API/>
        <Tests>
            <Dependency_files>
                <Dynamic_libraries/>
                <Header_files/>
            </Dependency_files>
            <Executable_files/>
        </Tests>
    </Directories>

    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="1"
        version_mode="RELEASE"
        local_path="~/Desktop/scripts/C/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />

    <!-- Tests -->
    <!-- Paths to dependency files for the testing executable. -->
    <Tests>
        <Dependencies Dest="Tests/Dependency_files">
            <C_Severity_Log
                version_major="1"
                version_minor="1"
                version_mode="RELEASE"
                local_path="~/Desktop/scripts/C/C_Severity_Log"
                URL="https://github.com/JonMS95/C_Severity_Log"
            />
        </Dependencies>
    </Tests>
</config>
